VUE_APP_BACK_URL=http://eXrXpX:PORT_BACK
NODE_ENV_BACK_URL=http://eXrXpX:PORT_BACK

# API 42
API="https://xxxx.42.fr/"

API_UID="xxxx"
API_SECRET="xxxx"

API_REDIR="http://eXrXpX:PORT_FRONT/"
API_RED_URI="https://xxxx.42.fr/oauth/authorize/yyyy"

HOST=http://eXrXpX

PORT="PORT_BACK"
PORT_FRONT="PORT_FRONT"


POSTGRES_USER="USER_OF_DB"
POSTGRES_PASSWORD="PASSWORD_OF_DB"

DB_HOST="xxxx"
DB_PORT="yyyy"
DB_NAME="xxxx"
DB_USER="USER_OF_DB"
DB_PASS="PASSWORD_OF_DB"

SECRET_PASSWORD="xxxx"
