// Lien vers l'api
API=""
// Codes de connexion de l'API
API_UID=""
API_SECRET=""
// Redirection depuis l'intra (Host)
API_REDIR=""
// Redirection vers l'intra
API_RED_URI=""

// IP - Poste et Port du serveur
HOST=""
PORT=""